<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ac.shenkar.workshoptwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shenkar2_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shenkar2_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity
            android:name="ac.shenkar.workshoptwo.ExampleWidgetConfig"
            android:excludeFromRecents="true"
            android:icon="@mipmap/shenkar2_logo"
            android:noHistory="true"
            android:taskAffinity="ac.shenkar.workshoptwo.ExampleWidgetConfig"
            android:theme="@style/Theme.ConfigWidgetTheme"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Bootstrapper"
            android:authorities="${applicationId}.contentprovider"/>


    </application>

</manifest>